@model IEnumerable<CarService>

@if (Model == null || Model.Count() == 0)
{
    <div class="alert alert-dark">Jelenleg nincs elérhető szerviz.</div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (CarService carService in Model)
        {
            <div class="card">
                <img src="@Url.Action("ImageForCarService", new { carServiceId = carService.Id})" />
                <div>
                    <h2>@carService.Name</h2>
                    <h3><i class="fas fa-map-marker-alt"></i> @carService.City.Name</h3>
                    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum, lo rem ipsum lor em ip sum.</p>
                    <button><a asp-controller="Home" asp-action="Details" asp-route-carServiceId="@carService.Id">Mutasd a szervizt</a></button>
                </div>
            </div>
        }
    </div>
}