<div class="login-btn">
    <button>Sign In</button>
</div>
<div class="search">
    <div>
        <input type="text" id="searchInput" placeholder="Search . . ." required>
    </div>
</div>
<div id="carServiceDetails"></div>

@section Scripts {
    <script>
        const searchInput = document.querySelector("#searchInput");
        const secondRow = document.querySelector(".row-2");

        searchInput.addEventListener("input", (event) => {
            const searchValue = event.target.value;

            fetch(`/Home/Search?search=${searchValue}`)
                .then((response) => response.text())
                .then((html) => {
                    secondRow.innerHTML = html;
                })
                .catch((error) => {
                    console.error("Error fetching search results:", error);
                });
        });

        document.querySelectorAll(".card").forEach(function (card) {
            card.addEventListener("click", function (event) {
                const carServiceId = this.getAttribute("data-car-service-id");
                fetch(`/Home/CarServiceDetailsPartial/${carServiceId}`)
                    .then(function (response) {
                        if (response.ok) {
                            return response.text();
                        } else {
                            throw new Error("Failed to load car service details");
                        }
                    })
                    .then(function (html) {
                        document.getElementById("carServiceDetails").innerHTML = html;
                    })
                    .catch(function (error) {
                        console.error("Error", error);
                    });
            });
        });
    </script>
}